div id="pn_l"
	div id="pic"
	div id="ss"

	div id="pn_l_mn"
		ul
			li
				| About
			li
				| FAQ
			li
				Follower
			li
				Message
			li
				Payments
			li
				Setting

	div id="like"
		| like